
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-products></app-products>
      <hr class="bg-dark">
      <hr class="bg-dark">

       <table class="table table-bordered bg-primary text-center text-white table-hover p-4">
        <thead>
        <tr>
          <th>Sr No</th>
          <th>First Name </th>
          <th>Last Name</th>
          <th>Role</th>
          <th>Batting</th>
          <th>Age</th>
        </tr>
        </thead>
        <tbody class="bg-dark text-center text-white">
          <tr *ngFor="let teamObj of team ; let i=index">
            <td>{{i+1}}</td>
            <td>{{teamObj.fname}}</td>
            <td>{{teamObj.lname}}</td>
            <td>{{teamObj.role}}</td>
            <td>{{teamObj.batting}}</td>
            <td>{{teamObj.age}}</td>
          </tr>
        </tbody>
       </table>
    </div>
  </div>
</div>

